:root {
  --appBg: rgb(23, 23, 23);
  --timeDisplay: #d1d1d1;
  --closeBtn: rgb(255, 92, 92);
  --minimizeBtn: rgb(255, 223, 81);
  --menuLabels: #d1d1d1;
  --menuSelectBorder: #d1d1d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0.75rem;
  background-color: var(--appBg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
}

.systemBtns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 1px solid rgb(116, 116, 116);
}

.close:hover {
  border: 1px solid var(--closeBtn);
}

.minimize:hover {
  border: 1px solid var(--minimizeBtn);
}

.central {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: 3rem;
  font-weight: 500;
  color: var(--timeDisplay);
  margin: 1rem;
}

.playBtn {
  width: 25px;
  filter: invert(90);
  cursor: pointer;
}

.menu {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.configDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#theme {
  outline: none;
  background: transparent;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: #d1d1d1;
  border: none;
  border-bottom: 1px solid #d1d1d1;
}
