:root {
  --appBg: #131313;
  --timeDisplay: #e9e9e9;
  --closeBtn: rgb(255, 92, 92);
  --minimizeBtn: rgb(255, 223, 81);
  --menuBtn: rgb(12, 200, 135);
  --menuLabels: #e9e9e9;
  --menuSelectBorder: #e9e9e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0.75rem;
  background-color: var(--appBg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
}

.systemBtns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 1px solid rgb(116, 116, 116);
}

.close:hover {
  border: 1px solid var(--closeBtn);
}

.minimize:hover {
  border: 1px solid var(--minimizeBtn);
}

.settings:hover {
  border: 1px solid var(--menuBtn);
}

.systemBtnLabel {
  width: 100%;
  font-size: 11px;
  font-weight: 300;
  color: var(--timeDisplay);
}

.central {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--timeDisplay);
  margin: 0.75rem;
}

.playBtn {
  width: 25px;
  cursor: pointer;
  fill: var(--timeDisplay);
}

.menu {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.configDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#theme {
  width: 175px;
  outline: none;
  background: transparent;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid var(--menuSelectBorder);
  color: var(--menuSelectBorder);
  margin-bottom: 1rem;
}

.label {
  width: 100%;
  color: var(--menuLabels);
  margin-bottom: 0.25rem;
}
